@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .label {
    @apply text-slate-500 mb-2;
  }
  .label-dark {
    @apply text-white mb-2;
  }
  .input-field {
    @apply w-full border-0 text-slate-700 focus:outline-slate-700 p-2 rounded;
  }
}


@font-face {
  font-family: 'Raleway';
  font-weight: 100;
  src: url('./assets/fonts/Raleway-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 200;
  src: url('./assets/fonts/Raleway-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  src: url('./assets/fonts/Raleway-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  src: url('./assets/fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  src: url('./assets/fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  src: url('./assets/fonts/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url('./assets/fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  src: url('./assets/fonts/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 900;
  src: url('./assets/fonts/Raleway-Black.ttf') format('truetype');
}


html {
  font-size: 16px;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  background: #dfdfdf;
}
body.dark-theme {
  background: #3C3B3C;
  transition: all 0.3s;
}

input[type="text"]:disabled,
textarea:disabled {
  background-color:#f3f4f6;
}


.container {
  max-width: 960px;
  padding: 0 20px;
  margin: auto;
}
.container-sm {
  max-width: 600px;
  padding: 0 20px;
  margin: auto;
}
.spin {
  display: inline-block;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

